.buttonsGrid{
    display: grid;
    grid-template: repeat(6,1fr)/repeat(4,1fr);
    position: absolute;
    width : 20vw;
    height: 70vh;
    top: 50vh;
    left: 50vw;
    margin : -35vh auto auto -10vw;
    border: 5px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: black;
    column-gap: 7px;
    row-gap: 5px;
    grid-template-areas: 
                    "display display display display"
                    "clear power percentage divide"
                    "seven eight nine multiply"
                    "four five six subtract"
                    "one two three add"
                    "decimal zero back equal";
}
button{
    background-color : rgb(53, 48, 48);
    border: 0px;
    border-radius: 30px;
    font-size: xx-large;
    color:white;
    outline: none;
}
.display{
    grid-area:display;
    display: flex;
    height: 20vh;
    border-bottom: 2px solid lightgray;
    align-self: center;
    background-color:black;
    font-size: xx-large;
    color: white;
    justify-content: flex-end;
}
.operator{
    color : rgb(3, 187, 3);
}
.equal{
    background-color: green;
    grid-area:equal;
}
.clear{
    color:indianred;
    grid-area:clear;
}
.decimal{
    grid-area:decimal;
}
.zero{
    grid-area:zero;
}
.one{
    grid-area:one
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area:four;
}
.five{
    grid-area:five;
}
.six{
    grid-area: six;
}
.seven{
    grid-area:seven;
}
.eight{
    grid-area:eight;
}
.nine{
    grid-area:nine;
}
.power{
    grid-area:power;
}
.percentage{
    grid-area:percentage;
}
.divide{
    grid-area:divide;
}
.multiply{
    grid-area:multiply;
}
.add{
    grid-area:add;
}
.subtract{
    grid-area:subtract;
}
.back{
    grid-area: back;
}
@media (max-width:450px){
    .buttonsGrid{
        display: grid;
        position: absolute;
        grid-template: repeat(6,1fr)/repeat(4,1fr);
        width: 80vw;
        height: 80vh;
        margin:0;
        left:8vw;
        top:10vh;
        right:0;
        bottom: 0;
    }
    .display{
        height:18vh;
    }
}
