.buttonsGrid{
    display: grid;
    grid-template: repeat(6,auto)/repeat(4,1fr);
    position: absolute;
    width : 30vw;
    height: 70vh;
    top: 50vh;
    left: 50vw;
    margin : -35vh auto auto -15vw;
    border: 5px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: black;
    column-gap: 7px;
    row-gap: 5px;
}
button{
    background-color : rgb(53, 48, 48);
    border: 0px;
    border-radius: 30px;
    font-size: xx-large;
    color:white;
    outline: none;
}
.display{
    grid-area:1/1/2/5;
    display: flex;
    height: 20vh;
    border-bottom: 2px solid lightgray;
    align-self: center;
    background-color:black;
    font-size: xx-large;
    color: white;
    justify-content: flex-end;
}
.operator{
    color : rgb(3, 187, 3);
}
.equal{
    background-color: green;
}
.clear{
    color:indianred;
}